ion-content{
  --background: rgb(231,231,231);
  --background: linear-gradient(0deg, rgba(231,231,231,1) 55%, rgba(66,160,51,1) 100%);
}

.top{
  display: flex;
  justify-content: center;
}

ion-img{
  height: 200px;
  width: 200px;
}

#container {
  text-align: center;
  font-family: sans-serif;
  position:absolute;
  left: 0;
  right: 0;
  top: 10%;
  
}

#container strong {
  font-size: 25px;
  line-height: 26px;
  position: initial;
}

#container p {
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card{
  background-color: rgb(255, 255, 255);
}
ion-card-title{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size: 20px; 
  color: #26581fe5;
}
ion-button{
  --background: #26581fe5;
  --border-radius: 10px;
}
